@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
        $(document).ready(function() {
            var $fields = $('#fields');
            $('#btnAddPreference').click(function (e) {
                $("input[type=submit]").removeAttr('disabled');
                e.preventDefault();
                var rowCount = $('#fields tr').length;
                if(rowCount <= 10)
                    $('<tr><td><input type="text" required placeholder="Query" name="query" /><input type="number" required placeholder="Max $ willing to pay" name="lessThan" /> <button onclick = "Delete($(this).parent().parent())" type = "button" class="btn btn-danger delete"><span class="glyphicon glyphicon-minus"></span></button><td></tr>').appendTo($fields);
            });
        });
        function Delete(e) {
            e.remove();
            if ($('#fields tr').length < 1)
                $("input[type=submit]").attr('disabled', 'disabled');
        }

        function RemoveEmail(_email)
        {
            if(_email.length > 0)
                $.ajax({
                    type: "POST",
                    url: "/Home/Remove/",
                    contentType: "application/json",
                    data: JSON.stringify({ email: _email }),
                    dataType: "json",
                    success: function () {
                        swal("Success!", "Email Address Removed!", "success");
                        $('.quit').modal('toggle');
                    },
                    error: function () { sweetAlert("Error Son", "Something went wrong!", "error"); }
                });
            else
                swal("Email address required!", "We're fairly certain your email address isn't nothing.", "error");
        }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron" style="background-color:#d9d9d9">
        <h1>Recieve imediate deal alerts</h1>
        <br />
            <div class="form-group">
                <input placeholder="Email Address" required type="email" name="email" id="email" />
                <button type="button" id="btnAddPreference" class="btn btn-info">Add Query <span class="glyphicon glyphicon-cog"></span></button>
                <input disabled="disabled" type="submit" value="Submit" class="btn btn-success" />
                <button type="button" data-toggle="modal" data-target=".quit" class="btn btn-warning">Quit Service <span class="glyphicon glyphicon-minus"></span></button>
                <table id="fields">
                </table>
            </div>
    </div>
}

<div class="modal fade quit" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Quit emailing service?</h4>
            </div>
            <div class="modal-body">
                If your provided email address is found, it will be purged and you will no longer obtain the very latest deals from r/buildapcsales/!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="RemoveEmail($('#email').val())">Remove Email</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->